<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<main layout:fragment="main-content">
  <div  class="card" style=",width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
       <h1 th:text="${article}">From sub layout</h1>
      <h1 th:text="${author}">From sub layout</h1>
      <a href="article.html" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</main>

</body>
</html>